body {
    font-family: 'Roboto', sans-serif;
}

.skip {
    color: rgb(255, 0, 0);
}

h1 {
    font-size: 55px;
}

.Display {
    display: flex;
    margin-bottom: 100px;
}

.F {
    box-shadow: 5px 10px 10px 5px gray;
    padding: 2%;
    border-radius: 10px;
    jus
}

.A {
    padding: 2%;
}


.button {
    text-decoration: none;
    background-image: linear-gradient(orange, rgb(250, 179, 166));
    padding: 10px 30px;
    color: rgb(255, 0, 0);
    font-size: 25px;
    border-radius: 10px;
}

.B {
    background-image: url(images/shapes/7.png);
}

.D {
    box-shadow: 5px 10px 10px 5px gray;
    padding: 2%;
    border-radius: 10px;
    border-left: 5px solid red;
}

.C {
    text-align: center;
}

footer {
    text-align: center;
    background-color: aquamarine;
}

.column {
    padding: 10px;
    height: 200px;
}

.left,
.right {
    width: 25%;
}

.middle {
    width: 50%;
}

.row:after {
    display: table;
    clear: both;
}

.a {
    box-shadow: 5px 10px 10px 5px gray;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}